@import '~normalize-css/normalize.css';

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;

  font-family: 'Open Sans', sans-serif;
  color: #333333;
  background-color: white;

  a {
    color: #333333;
  }
}
